.top_bar{
    margin-bottom: 10px;
}
    
nav a{
    padding: 0px;
    text-decoration: none;
    color: black;
    display: block;

}
nav ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
}

nav li{
    flex-grow: 1;
}

.purple_background{
    background-color: purple;
    height: 700px;
}

.text1{
    padding-top: 40px;
    padding-left: 20px;
}

h1{
    color: white;
    font-size: 80px;
    font-weight: 900;
}

.text1 span{
    color: rgb(240, 222, 119);
}

p{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
.two_buttons{
    margin-top: 20px;
    margin-left: 20px;
}
.button1{
    padding: 25px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 40px;
}
.button2{
    padding: 25px;
    background-color: rgb(240, 222, 119);
    font-size: 20px; 
    border-radius: 40px;   
}

section{
    
    display: flex;
    text-align: center;
    padding: 100px 5%;
}

.text2{
    width: 40%;
    margin-right: auto;
    display: block;
    
    
}
.img2{
    width: 40%;
    height: 70%;
}

.text3{
    text-align: center;
}
.text3 span{
    color: purple;
}

.img3{
    margin-left: 12%
}

h2{
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 10px;
}
h3{
    font-size: 30px;
    font-weight: 400;
}
.rows{
    background-color: rgb(241, 235, 235);
}

.rows ul{
    list-style-type: none;
    max-width: 100%;
}

.row1 ul{
    display: flex;
    max-width: 100%;
}
.rows{
    max-width: 100%;
}

.rows li{
    font-size: 20px;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 40px;
    padding-top: 100px!important;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 1 0;
    position: relative;
}

.a{
    color: green;
    font-size: 40px;
    font-weight: 900;

}


.b{
    color: orangered;
    font-size: 40px;
    font-weight: 900;
}

.c{
    color: purple;
    font-size: 40px;
    font-weight: 900;
}

.row2 ul{
    display: flex;
    max-width: 100%;
}

.d{
    color: orangered;
    font-size: 40px;
    font-weight: 900;
}

.e{
    color: rgb(250, 60, 164);
    font-size: 40px;
    font-weight: 900;
}

.f{
    color: blue;
    font-size: 40px;
    font-weight: 900;
}

.row3 ul{
    display: flex;
    max-width: 100%;
}

.g{
    color: purple;
    font-size: 40px;
    font-weight: 900;
}

.h{
    color: rgb(250, 60, 164);
    font-size: 40px;
    font-weight: 900;
}

.i{
    color: blue;
    font-size: 40px;
    font-weight: 900;
}

.text4{
    margin-right: auto;
}

.text4 span{
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 50px;
}

.text5{
    background-color: rgb(85, 85, 233);
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-left: 120px;
    border-radius: 30px;
    padding: 60px;
}

.text5 span{
    color: white;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 50px;
}

.button3{
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
}

.partners{
    font-size: 50px;
    color: black;
    text-align: center;
}

.img5{
    max-height: 100%;
    max-width: 100%;
}

.text6{
    background-color: rgb(85, 85, 233);
    display: inline-block;
    text-align: center;
    padding: 0 50px;
    border-radius: 40px;
}

.text7 span{
    font-size: 70px;
    color: white;
    
}

.text7{
    font-size: 30px;
    color: white;
    padding: 200px 50px;
    
}

input[type= "email"]{
    font-size: 20px;
    height: 50px;
    width: 500px;
    border-radius: 30px;
    padding: 10px;
}

input[type= "submit"]{
    font-size: 20px;
    height: 50px;
    width: 200px;
    background-color: plum;
    border-radius: 30px;
}

.final-section ul{
    list-style-type: none;
    
}

.main-list{
    display: flex;
    text-align: center;
}

.final-section li{
    width: 20%;

}

.main-list li{
    padding: 10px;
    
}

.legal{
    white-space: nowrap;
}

.contacts{
    white-space: nowrap;
}

.text8{
    color: rgb(14, 14, 151);
    font-size: 40px;
   
    
}
